# Phase 1: 

### **1. Load and Inspect**
- Load the dataset.  
- Check the number of rows and columns (observations and features).  
- Display the first five rows and check the data types of each column.

### Step 1: Load the dataset

- Use pandas library to read csv files

In [1]:
import pandas as pd

- create a dataframe variable that reads the csv

In [10]:
df = pd.read_csv("../diabetes.csv")

### Step 2: Check the number of rows and columns (observations and features)

In [11]:
df.shape

(768, 9)

### Step 3: Display the first five rows and check the data types of each column

- Show first 5 rows of dataset

In [12]:
df.head() # Show First 5 rows of dataset

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

- check the data types of each column.

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB